body {
    align-items: center;
    background-color: #005b75;
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px;
    width: calc(100% - 32px);
}

@media (min-width: 768px){
    body {
        padding: 24px;
    }
}